<?xml version="1.0" encoding="utf-8"?>
<lunch.Droid.DishView xmlns:card_view="http://schemas.android.com/apk/res-auto"
                       xmlns:android="http://schemas.android.com/apk/res/android"
                       android:layout_width="match_parent"
                       android:layout_height="100dp"
                       card_view:cardPreventCornerOverlap="true"
                       card_view:cardCornerRadius="2dp"
                       card_view:cardUseCompatPadding="true"
                      card_view:cardBackgroundColor="@color/colorAccent">
  <LinearLayout
                android:id="@+id/dish_layout"
                android:layout_width="match_parent"
                android:layout_height="match_parent"
                android:orientation="horizontal"
                android:weightSum="100" 
                android:layout_margin = "4dp">
    <ImageView
      android:id="@+id/dish_icon"
      android:layout_width="0dp"
      android:layout_height="match_parent"
      android:layout_weight="25"
      android:scaleType="centerCrop"/>
    <RelativeLayout
      android:id="@+id/dish_data"
      android:layout_width="0dp"
      android:layout_height="match_parent"
      android:layout_weight="50"
      android:layout_marginLeft = "4dp">
      <TextView
        android:id="@+id/dish_data_title"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:textSize="16sp"
        android:layout_alignParentTop="true"
        android:layout_marginTop = "4dp"/>
      <TextView
        android:id="@+id/dish_data_cat_name"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:textSize="12sp"
        android:layout_alignParentBottom="true"
        android:layout_marginBottom = "4dp"/>
    </RelativeLayout>
    <TextView
      android:id="@+id/dish_price"
      android:layout_width="0dp"
      android:layout_height="wrap_content"
      android:textSize="25sp"
      android:layout_weight="25"
      android:layout_gravity="center_vertical"
      android:gravity="center"
      android:padding="4dp"/>
  </LinearLayout>
</lunch.Droid.DishView>