﻿<?xml version="1.0" encoding="utf-8"?>
<RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
                android:layout_width="fill_parent"
                android:layout_height="fill_parent"
                android:background="@color/colorAccent">
  <include
    android:id ="@+id/toolbar_coordinator"
    layout="@layout/main_toolbar"/>

  <android.support.v4.view.ViewPager
    android:id ="@+id/view_pager"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:layout_below="@id/toolbar_coordinator">

    <android.support.design.widget.TabLayout
      android:id ="@+id/tab_layout"
      android:layout_width="match_parent"
      android:layout_height="wrap_content"
      android:layout_gravity="bottom" />

  </android.support.v4.view.ViewPager>
</RelativeLayout>
