<?xml version="1.0" encoding="utf-8"?>
<resources>
  <color name="colorPrimary">#00aae0</color>
  <color name="colorPrimaryDark">#0091bf</color>
  <color name="colorAccent">#ffffff</color>
</resources>